<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Asylum Zork</title>
  </head>
  <body>
    <div class="container">
      <h1>Zork Asylum</h1>
      <%= yield %>
      <a href="/">Restart Game</a>
    </div>
  </body>
</html>
