<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/776503.png">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel='stylesheet' href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <meta charset="utf-8">
    <title>Asylum Zork</title>
  </head>
  <body>
    <div class="container">
      <% unless @index  %>
        <h1>ZORK ASYLUM</h1>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
