<div class="menu">
  <h2>Welcome, Player!</h2>

  <p class="intro">
    You have been dared by your friends to enter the dilapidated Zork Asylum.
  </p>

  <h3><a href="/room/yard">Enter the asylum</a></h3>

  <h3>How to Play:</h3>
  <p>Zork Asylum is navigated using text commands. You can type the following commands:</p>
  <ul>
    <li><span class="control-option">Inventory</span> to see your current inventory.</li>
    <li><span class="control-option">Look</span> to see what's in a room or check your surroundings.</li>
    <li><span class="control-option">Move [Cardinal Direction or N, E, S, W]</span> to move in that direction.</li>
    <li><span class="control-option">Take [Item]</span> to add an item to your inventory.</li>
    <li><span class="control-option">Use [Inventory Item]</span> to use an item in a room.</li>
    <li><span class="control-option">Read [Note]</span> to view a note's text.</li>
  </ul>
  <div class="">


  <!-- <p>On the hill above town lurks the old Beaumont asylum. Long ago converted from a sprawling gothic estate, you and the other neighborhood kids have been terrified of it for as long as anyone can remember. But this Halloween night Petey Jenkins called you a 'scaredy cat' and dared you to go inside. You can't let Petey be right! Explore the spooky domain of the antediluvian nut house and emerge with a souvenir to show everybody who's really a scaredy cat!
                                .-----.
                              .'       `.
                             :      ^v^  :
                             :           :
                             '           '
              |~        www   `.       .'
             /.\       /#^^\_   `-/\--'
            /#  \     /#%    \   /# \
           /#%   \   /#%______\ /#%__\
          /#%     \   |= I I ||  |- |
          ~~|~~~|~~   |_=_-__|'  |[]|
            |[] |_______\__|/_ _ |= |`.
     ^V^    |-  /= __   __    /-\|= | :;
            |= /- /\/  /\/   /=- \.-' :;
            | /_.=========._/_.-._\  .:'
            |= |-.'.- .'.- |  /|\ |.:'
            \  |=|:|= |:| =| |~|~||'|
             |~|-|:| -|:|  |-|~|~||=|      ^V^
             |=|=|:|- |:|- | |~|~|| |
             | |-_~__=_~__=|_^^^^^|/___
             |-(=-=-=-=-=-(|=====/=_-=/\
             | |=_-= _=- _=| -_=/=_-_/__\
             | |- _ =_-  _-|=_- |]#| I II
             |=|_/ \_-_= - |- = |]#| I II
             | /  _/ \. -_=| =__|]!!!I_II!!
            _|/-'/  ` \_/ \|/' _ ^^^^`.==_^.
          _/  _/`-./`-; `-.\_ / \_'\`. `. ===`.
         / .-'  __/_   `.   _/.' .-' `-. ; ====;\
        /.   `./    \ `. \ / -  /  .-'.' ====='  >
       /  \  /  .-' `--.  / .' /  `-.' ======.' /</p>
       </div> -->
</div>
