<div class="menu">
  <h2>Welcome, Player!</h2>
  <div class="ascii-art">
    <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .-----.
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `.
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ^v^&nbsp; :
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www&nbsp;&nbsp; `.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .'
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /.\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /#^^\_&nbsp;&nbsp; `-/\--'
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /#&nbsp; \&nbsp;&nbsp;&nbsp;&nbsp; /#%&nbsp;&nbsp;&nbsp; \&nbsp;&nbsp; /# \
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /#%&nbsp;&nbsp; \&nbsp;&nbsp; /#%______\ /#%__\
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /#%&nbsp;&nbsp;&nbsp;&nbsp; \&nbsp;&nbsp; |= I I ||&nbsp; |- |
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ~~|~~~|~~&nbsp;&nbsp; |_=_-__|'&nbsp; |[]|
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |[] |_______\__|/_ _ |= |`.
    <br />     &nbsp;&nbsp; ^V^&nbsp;&nbsp;&nbsp; |-&nbsp; /= __&nbsp;&nbsp; __&nbsp;&nbsp;&nbsp; /-\|= | :;
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |= /- /\/&nbsp; /\/&nbsp;&nbsp; /=- \.-' :;
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | /_.=========._/_.-._\&nbsp; .:'
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |= |-.'.- .'.- |&nbsp; /|\ |.:'
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \&nbsp; |=|:|= |:| =| |~|~||'|
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |~|-|:| -|:|&nbsp; |-|~|~||=|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ^V^
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |=|=|:|- |:|- | |~|~|| |
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | |-_~__=_~__=|_^^^^^|/___
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |-(=-=-=-=-=-(|=====/=_-=/\
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | |=_-= _=- _=| -_=/=_-_/__\&nbsp;
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | |- _ =_-&nbsp; _-|=_- |]#| I II
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |=|_/ \_-_= - |- = |]#| I II
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  | /&nbsp; _/ \. -_=| =__|]!!!I_II!!
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _|/-'/&nbsp; ` \_/ \|/' _ ^^^^`.==_^.
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _/&nbsp; _/`-./`-; `-.\_ / \_'\`. `. ===`.
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / .-'&nbsp; __/_&nbsp;&nbsp; `.&nbsp;&nbsp; _/.' .-' `-. ; ====;\
    <br />     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /.&nbsp;&nbsp; `./&nbsp;&nbsp;&nbsp; \ `. \ / -&nbsp; /&nbsp; .-'.' ====='&nbsp; &gt;
    <br />     &nbsp;&nbsp;&nbsp;&nbsp; /&nbsp; \&nbsp; /&nbsp; .-' `--.&nbsp; / .' /&nbsp; `-.' ======.' /</p>
    <br />
  </div>

  <p class="intro">
    On the hill above town lurks the old Beaumont asylum. Long ago converted from a sprawling gothic estate, you and the other neighborhood kids have been terrified of it for as long as anyone can remember. But this Halloween night Petey Jenkins called you a 'scaredy cat' and dared you to go inside. You can't let Petey be right! Explore the spooky domain of the antediluvian nut house and emerge with a souvenir to show everybody who's really a scaredy cat!
  </p>

  <h3>How to Play:</h3>
  <p>Zork Asylum is navigated using text commands. You can type the following commands:</p>
  <ul>
    <li><span class="control-option">Inventory</span> to see your current inventory.</li>
    <li><span class="control-option">Look</span> to see what's in a room or check your surroundings.</li>
    <li><span class="control-option">Move [Cardinal Direction or N, E, S, W]</span> to move in that direction.</li>
    <li><span class="control-option">Take [Item]</span> to add an item to your inventory.</li>
    <li><span class="control-option">Use [Inventory Item]</span> to use an item in a room.</li>
    <li><span class="control-option">Read [Note]</span> to view a note's text.</li>
    <li><span class="control-option">Help</span> to view these options again</li>
  </ul>
  <h3 id="enter-link"><a href="/room/yard">Enter the asylum</a></h3>
  <p class='attribution'>Created by Kelsey Langlois, L. Devin MacKrell, Tyler Miller, and Dan Nollette</p>
  <p class='attribution'>ASCII haunted house by jgs of http://www.oocities.org/spunk1111/haloween.htm</p>
</div>
