<div class="menu">
  <h2>Welcome, Player!</h2>

  <p class="intro">
    You have been dared by your friends to enter the dilapidated Zork Asylum.
  </p>

  <h3><a href="/room/foyer">Enter the asylum</a></h3>

  <h3>How to Play:</h3>
  <p>Zork Asylum is navigated using text commands. You can type the following commands:</p>
  <ul>
    <li><span class="control-option">Inventory</span> to see your inventory.</li>
    <li><span class="control-option">Look</span> to see what's in a room.</li>
    <li><span class="control-option">Move [Cardinal Direction]</span> to move in that direction.</li>
    <li><span class="control-option">Take [Item]</span> to add an item to your inventory.</li>
    <li><span class="control-option">Use [Inventory Item]</span> to use an item in a room.</li>
    <li><span class="control-option">Read [Note]</span> to view a note's text.</li>
  </ul>
</div>
