<% if @room %>
  <h2><%= @room.name.capitalize %></h2>

  <p><%= @text %></p>

  <form action="/room/<%= @room.name %>" method="post">
    <div class="form-group">
      <label for="action">What do you want to do?</label>
      <input type="text" name="action" class="form-control">
    </div>
    <button type="submit" class="btn">Act!</button>
  </form>
<% else %>
  <h2>You have gotten very lost.</h2>
<% end %>
